.profile {
    .profileContent {
        min-height: $minHeight;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: $borderRadius;
    
        &:after {
          content: '';
          position: absolute;
          height: 100%;
          width: inherit;
          z-index: -1;
        }
    
  
        .content {
            display: flex;
            position: absolute;
            top: 20%;
            left: 5%;
            font-family: $font-1;

            .contentTextBloc{
            position: relative;
        
                h1 {
                padding: 0.5rem 0rem 0.5rem;
                font-size: 3rem;
                font-family: $font-1;
                font-weight: bolder;
                color: $black;
                text-transform: uppercase;

                }
                h2 {
                font-size: 2.5rem;
                padding: 0.5rem 0 2rem;
                color: $color-7;
                }
            }
        }
    }
}

@media screen and (max-width: 850px){
    .profileContent {
      margin: 0 !important;
    }
  }
  @media screen and (max-width:580px){
    .profileContent {
      h1 {
        font-size: 3rem !important;
      }
      h2 {
        font-size: 1.8rem !important;
      }
    }
}
